*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Oswald', sans-serif;
}

html,body{
   height: 100%;
}

.container{
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
}

.clear{
   clear: both;
}

header{
   padding: 20px 2% 35px 2%;
   height: 130px;
}

header div.logo{
   float: left;
}

header nav.desktop{
   float: right;
   position: relative;
   top: 40px;
}

header nav.mobile{
   margin-top: 40px;
   display: none;
   float: right;
   width: 32px;
   height: 32px;
   cursor: pointer;
   background-size: 100% 100%;
   background-image: url('../SRC/Images/icon_menu.png');
}

nav.mobile ul{
   width: 100%;
   left: 0;
   top: 95px;
   z-index: 99;
   border-bottom: 4px solid #ed2d2d;
   position: absolute;
   text-align: center;
   background-color: #fff;
   display: none;
}

nav.mobile li{
   font-size: 18px;
   padding: 20px 0;
   font-style: italic;
   font-weight: bold;
}

nav.mobile li a{
   text-decoration: none;
   color: #000;
}

header nav.desktop ul{
   list-style-type: none;
}

header nav.desktop ul li{
   float: left;
   font-size: 18px;
   padding: 0 18px;
   font-style: italic;
   font-weight: bold;
}

header nav.desktop a{
   color: #000;
   text-decoration: none;
}

section.banner {
   width: 100%;
   height: 600px;
   background-image: url('../SRC/Images/bg.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.text-banner{
   padding: 100px;
}

.text-banner-single{
   width: 314px;
   margin-top: 15px;
   padding: 12px 30px;
   height: 50px;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
   text-transform: uppercase;
   background-image: url('../SRC/Images/box-text.png');
   background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
   width: 200px;
   position: relative;
   height: 50px;
   left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
   width: 150px;
   height: 50px;
   position: relative;
   left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
   width: 320px;
   height: 50px;
   background-image: url('../SRC/Images/box-white-text.png');
   color: #000;
   left: -30px;
   position: relative;
}


section.showcase{
   padding: 90px 2%;
}

section.showcase .container{
   max-width: 1000px;
   padding: 40px 0;
}


.title-line{
   max-width: 1000px;
   margin: 0 auto ;
   position: relative;
   text-align: center;
}

.ln1{
   width: 100%;
   height: 2px;
   top: 20px;
   position: absolute;
   background-color: #000;
}

.title-line h2{
   font-size: 24px;
   font-style: italic;
   position: relative;
   display: inline-block;
   background-color: #fff;
   text-transform: uppercase;
   padding: 0 25px;
}

.main-showcase{
   float: left;
   width: 33.3%;
}

.main-showcase .car-img{
   width: 100%;
   padding-top: 100%;
   border: 8px solid #fff;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
}

.main-showcase h2{
   font-size: 22px;
   padding-left: 8px;
   color: #000;
   font-style: italic;
   font-weight: bold;
}

.main-showcase p{
   font-size: 15px;
   padding-left: 8px;
   color: #353535;
   font-style: italic;
   padding-top: 8px;
}

.btn-1{
   color: #FFF;
   width: 125px;
   display: block;
   font-size: 16px;
   line-height: 40px;
   font-style: italic;
   text-align: center;
   text-decoration: none;
   background-color: #ed2d2d;
   border-bottom: 4px solid #b21e1e;
}

.main-showcase a{
   margin-top: 10px;
   margin-left: 8px;
}

.services-desc{
   display: flex;
}

.half1{
   width: 50%;
   padding: 90px 0;
   background-color: #242424;
   color: #fff;
   text-align: center;
}

.half1-wraper{
   text-align: left;
   display: inline-block;
}

.half1-wraper h2{
   font-weight: normal;
   font-style: italic;
   font-size: 28px;
}

.half1-wraper ul{
   display: inline-block;
   margin-top: 18px;
}

.half1-wraper li{
   margin-left: 15px;
}

.half1-wraper a{
   margin-left: 40px;
   display: inline-block;
   vertical-align: bottom;
}

.half2{
   width: 50%;
   padding: 90px 100px;
   background-color: #ed2d2d;
   color: #fff;
}

.half2 h2{
   font-weight: normal;
   font-style: italic;
   font-size: 28px;
}

.half2 .comments-single{
   margin-top: 15px;
}

.comments-single p{
   font-size: 18px;
}

.navigation{
   float: left;
   width: 100%;
   max-width: 700px;
   margin-top: 30px;
}

.arrows{
   float: left;
}

.navigation img{
   cursor: pointer;
   margin: 0 15px;
}

.name-people{
   float: right;
   color: #252525;
   font-size: 23px;
   font-weight: bold;
}

section.contact{
   padding: 80px 2%;
}

section.contact form{
   max-width: 600px;
   margin: 50px auto;
}

section.contact .input-wraper{
   float: left;
   padding: 10px;
   margin-top: 10px;
}

section.contact input[type=text]{
   width: 100%;
   border: 1px solid #ccc;
   height: 40px;
   line-height: 40px;
   padding-left: 15px;
}

section.contact textarea{
   width: 100%;
   border: 1px solid #ccc;
   height: 120px;
   padding: 15px;
   resize: none;
}

section.contact form .input-wraper:nth-of-type(5){
   text-align: center;
}

section.contact input[type=submit]{
   border-top: 0;
   border-left: 0;
   border-right: 0;
   cursor: pointer;
   display: inline-block;
}

.w100{
   width: 100%;
}

.w50{
   width: 50%;
}

footer{
   margin-top: 20px;
   padding: 40px 2%;
   background-color: #252525;
}

footer nav{
   float: left;
}

footer nav ul{
   list-style: none;
}

footer nav ul li{
   float: left;
}
footer nav  ul a{
   color: #fff;
   text-decoration: none;
   font-size: 19px;
   font-style: italic;
   padding:0 12px;
}

footer p{
   float: right;
   color: #fff;
   font-size: 19px;
   font-style: italic;
}


section.sales{
   padding: 90px 0;
   min-height: 90%;
}

.content-sales{
   margin-top: 40px;
}

.sidebar{
   float: left;
   width: 30%;
   padding: 20px;
}

.search1{
   width: 90%;
}

.search1 h2{
   font-size: 24px;
   color: #000;
   font-weight: normal;
}

.search1 .price-bar{
   width: 100%;
   height: 20px;
   margin-top: 8px;
   position: relative;
   border-radius: 20px;
   border: 1px solid #ccc;
}

.price-bar-fill{
   position: absolute;
   left: 0;
   top: 0;
   width: 30%;
   height: 20px;
   border-radius: 20px;
   background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
}

.pointer-bar{
   width: 30px;
   height: 30px;
   border-radius: 10px;
   left: calc(30% - 15px);
   top: -5px;
   border: 1px solid #777;
   position: absolute;
   cursor: pointer;
   background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
}

.search-price{
   margin-top: 8px;
}

.search-price p{
   color: #000;
   font-size: 18px;
}

.search-price p:nth-of-type(1){
   float: left;
}

.search-price p:nth-of-type(2){
   float: right;
}

.search2{
   margin-top: 40px;
}

.search2 h2{
   font-size: 24px;
   color: #000;
   font-weight: normal;
}

.form-wraper-seles{
   margin-top: 5px;
}

.form-wraper-seles input[type=checkbox]{
   display: none;
}

.form-wraper-seles label{
   width: 20px;
   height: 20px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 3px;
   vertical-align: top;
   cursor: pointer;
   position: relative;
}

.circle{
   display: none;
   width: 8px;
   height: 8px;
   border-radius: 4px;
   background: #000;
   position: absolute;
   top: 6px;
   left: 6px;
}

.form-wraper-seles input[type=checkbox]:checked + label > .circle{
   display: block;
}

.form-wraper-seles span{
   padding: 0 10px;
   display: inline-block;
   vertical-align: top;
}

.showcase-sales{
   float: left;
   width: 70%;
   margin-top: 40px;
   padding: 0% 2%;
}

.showcase-sales .main-showcase{
   margin-top: 20px;
}

section.about{
   padding: 60px 2% 20px 2%;
   min-height: 90%;
}

section.about .container{
   max-width: 840px;
   margin-top: 30px;
}

section.about .img-office{
   width: 100%;
   padding-top: 60%;
   background-color: #CCC;
}

section.about .text-about{
   margin-top: 20px;
}

.text-about h2{
   font-size: 24px;
   color: #000;
}

.text-about p{
   font-size: 18px;
   margin-top: 10px;
   color: #000;
}

.text-about2{
   margin-top: 40px;
}

.img-small{
   width: 20%;
   padding-top: 20%;
   float: left;
   background-color: #CCC;
}

.text-about2 p{
   float: left;
   width: 80%;
   padding: 30px;
}
















@media screen and (max-width: 1400px){
   section.banner{
      background-size: 100% auto;
      background-position: center;
   }
}

@media screen and (max-width: 1024px){
   section.banner{
      background-size: cover;
      background-position: center;
      height: 70vw;
      min-height: 500px;
   }
}

@media screen and (max-width: 886px){
   section.showcase .container{
      max-width: 1000px;
      padding: 40px 0;
      text-align: center;
   }

   .main-showcase{
      display: inline-block;
      float: none;
      width: 70%;
      margin-top: 20px;
   }

   .main-showcase a{
      display: inline-block;
   }

   .sidebar{
      text-align: center;
      width: 100%;
   }

   .search1{
      display: inline-block;
   }

   .search2{
      display: inline-block;
      text-align: left;
   }

   .showcase-sales{
      text-align: center;
      width: 100%;
   }

   
   
}

@media screen and (max-width: 790px){
   section.services-desc{
      flex-direction: column;
   }

   .half1{
      text-align: center;
   }

   .half1-wraper{
      padding: 0;
   }

   .half1,.half2{
      padding: 80px 5%;
      width: 100%;
   }

   nav.desktop{
      display: none;
   }

   header nav.mobile{
      display: block;
   }

   .half1-wraper a{
      display: block;
      margin-left: 0;
      margin-top: 15px;
   }
}

@media screen and (max-width: 700px){
   .w50{
      width: 100%;
   }
   
   footer nav{
      display: none;
   }

   footer{
      text-align: center;
   }

   footer p{
      float: none;
   }

   .img-small{
      width: 100%;
      padding-top: 100%;
   }

   .text-about2 p{
      float: left;
      font-size: 16px;
      width: 100%;
      padding: 20px 0;
   }
   
}


@media screen and (max-width: 580px){
   .text-banner{
      padding: 50px;
   }

   .text-banner-single{
      font-size: 18px;
   }

   section.showcase .title-line > h2{
      font-size: 22px;
   }
   
}